@model WebDeshiHutBazar.GroupPanelInformationViewModel
<style type="text/css">
    body.dragging, body.dragging * {
        cursor: move !important;
    }

    .dragged {
        position: absolute;
        opacity: 0.5;
        z-index: 2000;
    }

    tbody.example tr.placeholder {
        position: relative;
    }

        tbody.example tr.placeholder:before {
            position: absolute;
        }
</style>
<ul class="nav nav-tabs new-nav-tabs"
    role="tablist">
    <li role="presentation" class="active">
        <a href="#" class="desktop-banner desktop-tab-link">PANEL CONFIGURATIONS</a>
    </li>
    <li role="presentation">
        <a href="#" class="desktop-allconfig desktop-tab-link">PREVIEW</a>
    </li>
</ul>
<div id="bannerDesktop" class="table-responsive  desktop-panel-config-grid-parent-container desktop-banner-content">
    <div class="row">
        <div class="col-md-1 col-xs-12 col-sm-1 col-lg-1">Order</div>
        <div class="col-md-1 col-xs-12 col-sm-1 col-lg-1">Show?</div>
        <div class="col-md-3 col-xs-12 col-sm-3 col-lg-3">Grp. Title</div>
        <div class="col-md-3 col-xs-12 col-sm-3 col-lg-3"></div>
    </div>
    @foreach (var itemDesktop in Model.ListGroupPanelTemplateConfiguration
        .Where(a => a.Device == Common.EnumDeviceType.Desktop)
        .OrderBy(a => a.Order).ToList())
    {
        <div class="row" style="border-bottom: 3px solid white; margin-bottom:10px;padding:3px;">
            <div data-label="Order" class="col-md-1 col-xs-12 col-sm-1 col-lg-1">
                @Html.HiddenFor(a => itemDesktop.GroupPanelConfigID, new { @class = "GroupPanelConfigID" })
                @Html.DisplayFor(modelItem => itemDesktop.Order)
            </div>
            <div data-label="Show" class="col-md-1 col-xs-12 col-sm-1 col-lg-1">
                @if (itemDesktop.ShowOrHide == Common.EnumShowOrHide.Yes)
                {
                    <b class="text-success">SHOW</b>
                }
                else if (itemDesktop.ShowOrHide == Common.EnumShowOrHide.No)
                {
                    <b class="text-danger">HIDE</b>
                }
            </div>
            <div data-label="Display" class="col-md-6 col-xs-12 col-sm-6 col-lg-6 truncate">
                <b class="alert-info">@Html.DisplayFor(modelItem => itemDesktop.EnumPanelDisplayStyle)</b> &nbsp; : &nbsp;
                @Html.DisplayFor(modelItem => itemDesktop.GroupPanelTitle)
            </div>

            <div data-label="Action" class="col-md-4 col-xs-12 col-sm-4 col-lg-4">
                <a data-toggle="modal"
                   class="light-button small flex btn-sm btn-edit-config"
                   data-configid="@itemDesktop.GroupPanelConfigID"
                   data-target="#modal-edit-group-panel-9999">
                    EDIT
                </a>
                <a data-toggle="modal"
                   class="light-button small flex btn-sm btn-remove-group-config"
                   data-groupconfigid="@itemDesktop.GroupPanelConfigID">
                    REMOVE
                </a>
                @if (itemDesktop.HasToShowPostsOrOrder)
                {
                    <a data-toggle="modal"
                       class="secondary-light-button small flex btn-sm add-posts-btn"
                       data-target="#modal-select-posts-9999"
                       data-configid="@itemDesktop.GroupPanelConfigID"
                       data-categoryid="@itemDesktop.CategoryID"
                       data-subcategoryid="@itemDesktop.SubCategoryID">
                        ADD
                    </a>
                    <a data-toggle="modal"
                       class="secondary-light-button small flex btn-sm panel-posts-btn"
                       data-target="#modalGroupPosts"
                       data-configid="@itemDesktop.GroupPanelConfigID">
                        POSTS
                    </a>
                    <a data-toggle="modal"
                       class="secondary-light-button small flex btn-sm panel-order-posts-btn"
                       data-target="#modalOrderPosts"
                       data-configid="@itemDesktop.GroupPanelConfigID">
                        ORDER
                    </a>
                }
            </div>
        </div>
    }
</div>

<div id="allConfigDesktop" class="table-responsive  desktop-panel-config-grid-parent-container desktop-allconfig-content" style="display:none;">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <table class="new sorted_table table">
                <thead>
                    <tr>
                        <th>Order</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="example sorted_head">
                    @{
                        var listAllConfigs = Model.ListGroupPanelTemplateConfiguration.Where(a =>
                        a.Device == Common.EnumDeviceType.Desktop).OrderBy(a => a.Order).ToList();
                    }
                    <tr class="placeholder"></tr>
                    @foreach (var config in listAllConfigs.ToList())
                    {
                        <tr>
                            <td class="selecttd">
                                @Html.HiddenFor(a => config.GroupPanelConfigID, new { @class = "GroupPanelConfigID" })
                                <span style="padding:15px;background-color:orange; margin-left:5px; margin-right:10px;">
                                    @Html.DisplayFor(modelItem => config.Order)
                                </span>

                                @if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.MostPopularProduct)
                                {
                                    @Html.Partial("../Shared/ProductTemplates/_MostPopularProduct", config)
                                }
                                else if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.PopularCategory)
                                {
                                    @Html.Partial("../Shared/ProductTemplates/_PopularCategory", config)
                                }
                                else if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.StarPanel)
                                {
                                    @Html.Partial("../Shared/ProductTemplates/_StarPanel", config)
                                }
                                else if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.TrianglePanel)
                                {
                                    @Html.Partial("../Shared/ProductTemplates/_TrianglePanel", config)
                                }
                                else if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.DoubleBlockSquarePanel)
                                {
                                    @Html.Partial("../Shared/ProductTemplates/_DoubleBlockPanel", config)
                                }
                                else if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.GroupSection)
                                {
                                    @Html.Partial("../Shared/ProductTemplates/_SixerGroupPanel", config)
                                }
                                else if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.MaxGroupSection)
                                {
                                    @Html.Partial("../Shared/ProductTemplates/_MaxGroupPanel", config)
                                }
                                else if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.VideoPost)
                                {
                                    @Html.Partial("../Shared/ProductTemplates/_PostVideoPanel", config)
                                }
                                else if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.VideoComment)
                                {
                                    @Html.Partial("../Shared/_VideoCommentPanel", config)
                                }
                                else if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.MarketPanel)
                                {
                                    @Html.Partial("../Shared/ProductTemplates/_MarketPanel", config)
                                }
                                else if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.AllFixedButtons)
                                {
                                    @Html.Partial("../Shared/ProductTemplates/_AllFixedButton", config.FabiaInformationViewModel)
                                }
                                else if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.QuardMarketPanel)
                                {
                                    @Html.Partial("../Shared/ProductTemplates/_QuardMarketPanel", config)
                                }
                                else if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.SimilarItemsMarketPanel)
                                {
                                    @Html.Partial("../Shared/ProductTemplates/_SimilarItemsMarketPanel", config)
                                }
                                else if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.BannerCarousel)
                                {
                                    @Html.Partial("../Shared/ProductTemplates/_BannerCarousel", config)
                                }
                                else if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.TriangleCarousel)
                                {
                                    @Html.Partial("../Shared/ProductTemplates/_TriangleCarousel", config)
                                }
                                else if (config.EnumPanelDisplayStyle == Common.EnumPanelDisplayStyle.StarCarousel)
                                {
                                    @Html.Partial("../Shared/ProductTemplates/_StarCarousel", config)
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
