@model WebDeshiHutBazar.MessageInfoViewModel
@{
    ViewBag.Title = Common.Language.LanguageDefault.ViewBagTitleMyMessages;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ExcludeHeader = false;
    var heading = @Model.UserId + "heading";
    var collapse = @Model.UserId + "colapse";
    var guid = Guid.NewGuid();
    var dataId = @Model.UserId;
    var viewtabpanelid = "btnView-" + guid + "tabpanel";
    var btnViewId = "btnView-" + guid;
    var edittabpanelid = "btnEdit-" + guid + "tabpanel";
    var btnEditId = "btnEdit-" + guid;
}
<script type="text/javascript">
    var btnviewid = "#@btnViewId";
    var btneditid = "#@btnEditId";
    var viewtabpaneidmsg = "#@viewtabpanelid";
    var edittabpaneidmsg = "#@edittabpanelid";
    var savereplymsgurl = '@Url.Action("SaveReplyMessage", "Message")';
    var updatemsgstatusurl = '@Url.Action("UpdateMessaageStatus", "Message")';
</script>
<div class="container">
    <h3 class="main-title">@Common.Language.LanguageDefault.MyMailBox</h3>
    <ul class="nav nav-tabs new-nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a data-id="@dataId" id="@btnViewId" aria-controls="@viewtabpanelid" role="tab" data-toggle="tab">
                @Common.Language.LanguageDefault.Inbox
            </a>
        </li>
        <li role="presentation">
            <a data-id="@dataId" id="@btnEditId" aria-controls="@edittabpanelid" role="tab" data-toggle="tab">
                @Common.Language.LanguageDefault.SentMsgs
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="@viewtabpanelid">
            <div class="panel-group" id="accordioninbox" role="tablist" aria-multiselectable="true">
                @foreach (var item in Model.ListMsgInbox)
                {
                    @Html.Partial("../../Areas/Advertizer/Views/Message/_SingleMsgInbox", item)
                }
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="@edittabpanelid">
            <div class="panel-group" id="accordionoutbox" role="tablist" aria-multiselectable="true">
                @foreach (var item in Model.ListMsgSent)
                {
                    @Html.Partial("../../Areas/Advertizer/Views/Message/_SingleMsgOutbox", item)
                }
            </div>
        </div>
    </div>
</div>

@section scriptsapp {
    <script type="text/javascript">
        PAGE_NAME = '@Model.PageName';
    </script>
    <script src="~/Scripts/js/naimul.ui.editor.phone.js" type="text/javascript"></script>
    <script src="~/Scripts/js/naimul.ui.editor.price.js" type="text/javascript"></script>
    <script src="~/Scripts/js/naimul.ui.validation.js" type="text/javascript"></script>
    <script src="~/Scripts/js/LetItGo/naimul.letitgo.msgbox.js" type="text/javascript"></script>
    <script src="~/Scripts/js/UserSession/naimul.letitgo.user.session.js" type="text/javascript"></script>
}



