@model WebDeshiHutBazar.AccountViewModel

<form id="frmChangePassword">    
    <div class="form-group">
        <label for="inputEmail" class="control-label">
            @Common.Language.LanguageDefault.CurrentPassword
            @Common.Language.LanguageDefault.SymbolColon
        </label>
        <div class="controls-fit-container">
            @Html.PasswordFor(a => a.CurrentPassword)
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="control-label">
            @Common.Language.LanguageDefault.NewPassword
            @Common.Language.LanguageDefault.SymbolColon
        </label>
        <div class="controls-fit-container">
            @Html.PasswordFor(a => a.Password)
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="control-label">
            @Common.Language.LanguageDefault.RetypeNewPassword
            @Common.Language.LanguageDefault.SymbolColon
        </label>
        <div class="controls-fit-container">
            @Html.PasswordFor(a => a.RePassword)
        </div>
    </div>
    <br />
    <br />
    <div class="form-group text-center">
        <input id="btnChangePassword" 
               type="button" 
               class="update-post btn btn-success btn-lg" 
               value="@Common.Language.LanguageDefault.ButtonCHANGEPASSWORD" />
    </div>
</form>