@model WebDeshiHutBazar.AccountViewModel

<form id="frmChangePassword" class="card-form row">
    <h5 class="sub-title">@Common.Language.LanguageDefault.ChangePassword</h5>
    <div class="input-field col-lg-12">
        <label for="CurrentPassword">
            @Common.Language.LanguageDefault.CurrentPassword
        </label>
        @Html.PasswordFor(a => a.CurrentPassword, new { @class = "fff" })
    </div>
    <div class="input-field col-lg-6">
        <label for="Password">
            @Common.Language.LanguageDefault.NewPassword
        </label>
        @Html.PasswordFor(a => a.Password, new { @class = "fff" })
    </div>
    <div class="input-field col-lg-6">
        <label for="RePassword">
            @Common.Language.LanguageDefault.RetypeNewPassword
        </label>
        @Html.PasswordFor(a => a.RePassword, new { @class = "fff" })
    </div>
    <div class="submit-field col-md-6 col-md-offset-3">
        <input id="btnChangePassword"
               type="button"
               class="update-post primary-button "
               value=" @Common.Language.LanguageDefault.ButtonCHANGEPASSWORD" />
    </div>
</form>