@model WebDeshiHutBazar.PostProcessViewModel

<div class="modal fade new-modal edit-container" id="modal-edit-process-@Model.PostProcessID" tabindex="-1" role="dialog" aria-labelledby="edit-process" aria-hidden="true">
    <form class="new-modal-content">
        @Html.HiddenFor(a => a.PostID)
        @Html.HiddenFor(a => a.PostProcessID)
        <h4 class="main-title">
            Update Process Step
        </h4>
        <div class="col-md-4" style="height:200px;max-height:200px;">
            <label>@Common.Language.LanguageDefault.Picture</label>
            @if (Model.StepImage != null)
            {
                @Html.Partial("../../Areas/Admin/Views/ManageFabiaService/_Image", Model.StepImage);
            }
            else
            {
                <img src="../../../../Images/Home/camera.png"
                     class="img-responsive new-post-mobile-image"
                     alt="Post image is not avaliable"
                     style="max-height:140px; max-width:100%;width:100%;" />
            }
        </div>
        <div class="col-md-4">
            <button type="button" class="light-button browse-service">
                @Common.Language.LanguageDefault.ModifyPostBROWSE &nbsp;
            </button>
            <span id="spnUpdateUpload" style="display:none; color:green;">Uploaded!</span>
        </div>
        <div class="input-field col-md-12">
            <label>Step Name</label>
            @Html.EditorFor(a => a.StepName, new { htmlAttributes = new { @class = "fff" } })
        </div>
        <div class="input-field col-md-6">
            <label>Process Step Number</label>
            @Html.DropDownListFor(a => a.StepNo, Model.AV_StepNo, new { @class = "fff" })
        </div>
        <div class="input-field col-md-6">
            <label>Process Step Completion Hours</label>
            @Html.EditorFor(a => a.AvailabilityDurationHour, new { htmlAttributes = new { @class = "fff" } })
        </div>

        <div class="input-field col-md-12">
            <label>
                Description
            </label>
            @Html.TextAreaFor(a => a.Description, new { @class = "fff" })
        </div>
        <div class="input-field col-md-6">
            <label>
                Price
            </label>
            @Html.EditorFor(a => a.Price, new { htmlAttributes = new { @class = "fff" } })
        </div>
        <div class="input-field col-md-6">
            <label>Paid By</label>
            @Html.DropDownListFor(a => a.PaidBy, Model.AV_PaidBy, new { @class = "fff" })
        </div>
        <div class="input-field col-md-12">
            <label>Reason For Payment</label>
            @Html.TextAreaFor(a => a.ReasonPayment, new { @class = "fff" })
        </div>


    </form>
    <div class="new-modal-footer">
        <button type="button" class="flat-button flex pull-right" data-dismiss="modal">CLOSE</button>
        <a class="flat-button flex pull-right btn-update-process">UPDATE PROCESS</a>
    </div>
</div>
