@model WebDeshiHutBazar.PostViewModel
@{
    var formid = Model.PostID;
    var dataId = Model.PostID;

    byte[] img1 = null;
    byte[] img2 = null;
    byte[] img3 = null;
    byte[] img4 = null;

    if (Model.ListImages.Count > 3 && Model.ListImages[3].Image != null)
    {
        img4 = Model.ListImages[3].Image;
    }
    if (Model.ListImages.Count > 2 && Model.ListImages[2].Image != null)
    {
        img3 = Model.ListImages[2].Image;
    }
    if (Model.ListImages.Count > 1 && Model.ListImages[1] != null)
    {
        img2 = Model.ListImages[1].Image;
    }
    if (Model.ListImages.Count > 0 && Model.ListImages[0] != null)
    {
        img1 = Model.ListImages[0].Image;
    }
}

<div class="row-fluid modify-post-root"
     id="posteditroot-@formid"
     title="Displaying modify mode to update post.">
    <form id="frmPostPart1-@formid"
          class="card-form row">
        @Html.HiddenFor(a => a.PostID)

        <div class="image-field col-md-12">
            <label>@Common.Language.LanguageDefault.Picture</label>
            <div class="image-content">
                <div id="imgDiv1" title="Image for @Model.Title">

                    @if (img4 != null)
                    {
                        @Html.Partial("../../Areas/Admin/Views/ManageFabiaService/_Image", img4);
                    }
                    else
                    {
                        <a class="thumbnail">
                            <img src="@Url.Content("~/Images/Post/camera.png")"
                                 class="img-responsive"
                                 id="imgUp1"
                                 alt="image 1" />
                        </a>
                    }
                </div>
                <button type="button" class="light-button Upload1">
                    @Common.Language.LanguageDefault.ModifyPostBROWSE
                </button>
            </div>
            <div class="image-content">
                <div id="imgDiv2" title="Image for @Model.Title">
                    @if (img3 != null)
                    {
                        @Html.Partial("../../Areas/Admin/Views/ManageFabiaService/_Image", img3);
                    }
                    else
                    {
                        <a class="thumbnail">
                            <img src="@Url.Content("~/Images/Post/camera.png")"
                                 class="img-responsive"
                                 id="imgUp1"
                                 alt="image 1" />
                        </a>
                    }
                </div>
                <button type="button" class="light-button Upload2" >
                    @Common.Language.LanguageDefault.ModifyPostBROWSE
                </button>
            </div>
            <div class="image-content">
                <div id="imgDiv3"
                     title="Image for @Model.Title">
                    @if (img2 != null)
                    {
                        @Html.Partial("../../Areas/Admin/Views/ManageFabiaService/_Image", img2);
                    }
                    else
                    {
                        <a class="thumbnail">
                            <img src="@Url.Content("~/Images/Post/camera.png")"
                                 class="img-responsive"
                                 id="imgUp1"
                                 alt="image 1" />
                        </a>
                    }
                </div>
                <button type="button" class="light-button Upload3" >
                    @Common.Language.LanguageDefault.ModifyPostBROWSE
                </button>
            </div>
            <div class="image-content">
                <div id="imgDiv4"
                     title="Image for @Model.Title">
                    @if (img1 != null)
                    {
                        @Html.Partial("../../Areas/Admin/Views/ManageFabiaService/_Image", img1);
                    }
                    else
                    {
                        <a class="thumbnail">
                            <img src="@Url.Content("~/Images/Post/camera.png")"
                                 class="img-responsive"
                                 id="imgUp1"
                                 alt="image 1" />
                        </a>
                    }
                </div>
                <button type="button" class="light-button Upload4" >
                    @Common.Language.LanguageDefault.ModifyPostBROWSE
                </button>
            </div>
        </div>
        <div class="input-field  col-md-12">
            <label for="Title">
                @Common.Language.LanguageDefault.NewPostLabelTitle
            </label>
            @Html.EditorFor(a => a.Title, new { htmlAttributes = new { @class = "fff" } })
            @Html.ValidationMessageFor(m => m.Title)
        </div>

        <div class="input-field  col-md-6">
            <label for="Price">
                @Common.Language.LanguageDefault.NewPostLabelPrice
                (@Model.DisplayCurrencyShort):
            </label>
            @Html.EditorFor(a => a.Price, new { htmlAttributes = new { @class = "fff" } })
            @Html.ValidationMessageFor(m => m.Price)
        </div>
        <div class="input-field  col-md-12">
            <label for="Description">
                @Common.Language.LanguageDefault.NewPostLabelItemDescription
            </label>
            @Html.TextAreaFor(a => a.Description, new { @class = "fff" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        <div class="input-field  col-md-12">
            <label for="SearchTag">
                @Common.Language.LanguageDefault.NewPostLabelSearchTag
            </label>
            @Html.TextAreaFor(a => a.SearchTag, new { @class = "fff" })
            @Html.ValidationMessageFor(m => m.SearchTag)
        </div>

        <div class="input-field  col-md-6 col-lg-4">
            <label for="PosterName">
                @Common.Language.LanguageDefault.AdvertisedBY
            </label>
            @Html.EditorFor(a => a.PosterName, new { htmlAttributes = new { @class = "fff" } })
        </div>
        <div class="input-field  col-md-6 col-lg-4">
            <label for="PosterContactNumber">
                @Common.Language.LanguageDefault.ContactNumber
            </label>
            @Html.EditorFor(a => a.PosterContactNumber, new { htmlAttributes = new { @class = "fff" } })
        </div>
    </form>
    <form id="frmPostRowEdit-@dataId">
        <div class="col-md-12">
            <input data-valueid="@Model.PostID"
                   id="btnSubmitPost-@formid"
                   type="button"
                   class="update-post btn-submit-post-modify-mode primary-button"
                   value="@Common.Language.LanguageDefault.ButtonUPDATE" />
        </div>        
    </form>
</div>

