@model WebDeshiHutBazar.BikashBillTransactonViewModel

@{
    ViewBag.Title = Common.Language.LanguageDefault.ViewBagTitleDonate;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ExcludeHeader = false;
}

<div class="container">
    <div class="row card-form">
        <h4 class="main-title">
            @Common.Language.LanguageDefault.ViewBagTitleDonate
        </h4>
        <h3 class="sub-title">
            <b style="color:blue;">NOTE:</b>
            We developed the portal by ourself and deployed to help community to 
            publish free ads!
            <br />
            <br />
            We have continuous expense in software maintenance, 
            data storage, advertisement, graphic and text content creation and 
            office maintenance. 
            <br />
            <br />
            We need permanent 2-3 staffs to perform above activities. 
            Since our objective is to keep ad publishing free, we need
            your help. Please donate!
        </h3>
        <h3 class="sub-title">            
            Please go to nearest Bkash Agent and donate any amount: 
            <b style="color:orange;">0174 2600 276</b>.
            You can pay from your personal Bkash account also. 
            For any issues, please call me! Phone: 01765805853
        </h3>
            
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()                               
                <div class="input-field col-md-6 col-xs-12 col-lg-4 clo-sm-4">
                    @Html.LabelFor(model => model.TransactionNumber)
                    @Html.EditorFor(model => model.TransactionNumber, new { htmlAttributes = new { @class = "fff" } })
                    @Html.ValidationMessageFor(model => model.TransactionNumber, "", new { @class = "custom-inline-field-error" })
                </div>
                <div class="input-field col-md-6 col-xs-12 col-lg-4 clo-sm-4">
                    @Html.LabelFor(model => model.PaidAmount)
                    @Html.EditorFor(model => model.PaidAmount, new { htmlAttributes = new { @class = "fff" } })
                    @Html.ValidationMessageFor(model => model.PaidAmount, "", new { @class = "custom-inline-field-error" })
                </div>
                <div class="gap col-xs-12"></div>
                <div class="submit-field col-md-6 col-md-offset-3 col-xs-12">
                    <input type="submit"
                           value="@Common.Language.LanguageDefault.DONATE"
                           class="primary-button col-md-6" />
                </div>
            }
    </div>
</div>
@section scriptsapp {
    <script type="text/javascript">
        PAGE_NAME = '@Model.PageName';
    </script>
    <script src="~/Scripts/js/naimul.ui.editor.phone.js" type="text/javascript"></script>
    <script src="~/Scripts/js/naimul.ui.editor.price.js" type="text/javascript"></script>
    <script src="~/Scripts/js/naimul.ui.validation.js" type="text/javascript"></script>
    <script src="~/Scripts/js/UserSession/naimul.letitgo.user.session.js" type="text/javascript"></script>
}




