@model WebDeshiHutBazar.PackageDetailViewModel
<div class="modal fade new-modal" id="modal-@Model.PackageConfigID.ToString().Trim()" tabindex="-1" role="dialog" aria-labelledby="@Model.PackageConfigID-Title" aria-hidden="true">
    <div class="new-modal-content">
        <h4 class="main-title" id="exampleModalLongTitle">
            @Common.Language.LanguageDefault.PackageDetailsSubscriptionName
            @Model.PackageName
        </h4>
        <div class="container-fluid">
            <div class="col-md-12">
                @Common.Language.LanguageDefault.Subscription1
                &nbsp;
                @Model.PackageName
            </div>
            <div class="col-md-12">
                @Common.Language.LanguageDefault.SubscriptionPeriod
                &nbsp;
                @Model.SubscriptionPeriod
            </div>
            <div class="col-md-12">
                @Common.Language.LanguageDefault.MonthlyFeePayeverymonth1
                &nbsp;
                @Model.PackagePrice
                &nbsp;
                @Model.DisplayCurrencyShort
            </div>
            <div class="col-md-12">
                @Common.Language.LanguageDefault.Description1
                &nbsp;
                @Model.Descriptinon
            </div>
            <div class="col-md-12">
                @Common.Language.LanguageDefault.TotalFreePost
                &nbsp;
                @Model.TotalFreePost
            </div>
            <div class="col-md-12">
                @Common.Language.LanguageDefault.TotalPremiumPost
                &nbsp;
                @Model.TotalPremiumPost
            </div>
        </div>
    </div>
    <div class="new-modal-footer">
        <button type="button" class="flat-button flex pull-right" data-dismiss="modal">
            @Common.Language.LanguageDefault.ModalButtonClose
        </button>
    </div>
</div>
